.profile {
    img {
        box-shadow: 0 0 5px $grey-color;
        width: 100%;
        margin-left: 15px;
    }
}
.address {
    font-family: monospace;
    margin-left: 0px;
    p { margin: 0; }
}

.news {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding-top: 20px;

    ul {
        margin-bottom:5px;
    }

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-left: 15px;

        .date { width: 12%; }
        .announcement { width: 85%; }

        tr { text-align: justify; }
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}

.papers {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding-top: 20px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    h5 {
        margin-top: 0;
    }
    h4 {
        font-weight: bold;
        margin-top: 0;
    }
    h3 {
        font-weight: bold;
        margin-top: 0;
    }
    a {
        color: #28A;
        font-weight: bold;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        .image { 
            width: 30%; 
            img { width: 100%; }
        }
        .empty { width: 2%; }
        .description { 
            width: 68%;
            vertical-align: top;
        }

        tr { text-align: left}
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}

.projects {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding-top: 20px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    h5 {
        margin-top: 0;
    }
    h4 {
        font-weight: bold;
        margin-top: 0;
    }
    h3 {
        font-weight: bold;
        margin-top: 0;
    }
    a {
        color: #28A;
        font-weight: bold;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        .image { 
            width: 20%; 
            img { width: 100%; }
        }
        .empty { width: 0%; }
        .description { 
            width: 30%;
            vertical-align: top;
        }

        tr { text-align: left}
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}

.supplementary {
    color: #28A;
    font-weight: bold;
}

.award {
    color: #F00;
    font-weight: bold;
}

.me {
    color: #830;
    font-weight: bold;
}

.venue {
    color: #462;
}

.social {
    border-top: 1px solid $grey-color-light;
    margin-top: 50px;
    padding-top: 20px;
}
